html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.inline {
    display: inline;
}
.game-table {
    width: 100%;
    height: 100%;
}
.game-table,
.game-table td {
    border: 2px solid;
}
.move-cursor {
    cursor: pointer;
}
.main-container {
    height: 87%;
}
.full-height {
    height: 100%;
}